* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.cont {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    max-height: 1080px;
    height: 100%;
}
/* Header */
.menu {
    height: 60px;
    background-color: #DA4156;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.menu>ul {
    display: flex;
    align-items: center;
    margin: 0;
}
.menu>ul>li {
    padding-right: 5%;
}
/* Form */
